
img
{  
    width: 500px;
    mix-blend-mode:multiply;
}
.square
{
 background-color: rgba(194, 225, 247, 0.474);
 width:500px;
 height: 700px;;
 overflow: hidden;
 justify-content: center;
 align-items: center;
 display: flex;
 position:absolute;
 top:0;
 left:0;
}
.google
{   background-color: rgb(255, 255, 255);
    width:50px;
    height: 50px;
    border-radius:19%;
    border: 1px solid rgb(91, 91, 91);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.yahoo
{
    background-color: rgb(107, 6, 158);
    width:50px;
    height: 50px;
    border-radius:19%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.apple
{
    background-color: rgb(0, 0, 0);
    width:50px;
    height:50px;
    border-radius:19%;
    border: 1px solid rgb(91, 91, 91);
    overflow:hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.microsoft
{
    background-color: rgb(0, 0, 0);
    width:50px;
    height:50px;
    border-radius:19%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    border: radius 19px;
}
.facebook
{
    background-color: rgb(59, 124, 254);
    border-radius:19%;
    width:50px;
    height:50px;
    border: radius 19px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    border: radius 19px;
}
.new
{
        background-color: rgb(255, 255, 255);
        width:500px;
        height: 700px;;
        overflow: hidden;
        align-items: center;
        display: flex;
        position:absolute;
         top:0;
        right:20%;
}
.logo
{
    justify-content: center;
    justify-content:space-evenly;
    display: flex;
    width: 300px;
    position: absolute;
    bottom: 20%;
}
.we
{   color: rgba(98, 98, 98, 0.767);
    font-weight:bold;
    position: absolute;
    bottom:80%;
    left:48%
}
.lo
{   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight:bold;
    position: absolute;
    bottom: 75%;
    left:48%;
}

.no
{
    position:absolute;
    top:5%;
    right:15%;;
    display:flex;
}
.fp
{   
    position: absolute;
    bottom: 39%;
    left:48%
}
.lu{
    position: absolute;
    bottom: 28%;
    left:48%
}
.or{
    position: absolute;
    bottom: 35%;
    left:47%
}
.li  
{ 
    position: absolute;
    top:50%;
    left:48%;
    width:400px;
    height:40px;
    background-color: blue;
    border: radius 19px;
    color: rgb(255, 255, 255);
    border: 30px;
}
.em
{    
    position: absolute;
    bottom: 63%;
    left: 48%;
    width: 392px;
    height:30px;
}
.pa
{
    position: absolute;
    bottom: 52%;
    left: 48%;
    width: 392px;
    height:30px;
}
.e
{
    position: absolute;
    bottom: 69%;
    left: 48%;
}
.p{
    position: absolute;
    bottom: 58%;
    left: 48%;
}